@model IEnumerable<cerinfo.Models.usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paterno_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.materno_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrasena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paterno_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materno_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
